.Button {
    display: inline-block;
    height: 40px;
    width: 150px;
    border: 2px solid white;
    border-radius: 10%;
    margin: 15px 15px 20px 20px;
    color: #09B1BA;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    overflow: hidden;
  }
  
  .Button a {
    color: #09B1BA;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  .Button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Button a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  .Circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #09B1BA;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
  }
  
  .Button:hover .Circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
  }
  
  .Button:hover a {
    color: white;
  }

  @media (max-width: 700px) {
    .Button {
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  @media (max-width: 600px) {
    .Button {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }