.Container {
    width: 100%;
    background: #ebebeb;
}

.Slider {
    padding-top: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: calc(50% - 200px);;
    width: 400px;
}