.Container {
    width: 100%;
    background: #ebebeb;
}

.Slider {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 900px;
}

@media (min-width: 900px) {
    .Slider {
        padding-top: 40px;
        margin-left: calc(50% - 450px);;
    }
}